<div class="row">
    <div class="col-md-3"></div>
    <div class="col">
        <h2 class="text-center">Create new Products & Categories</h2>
    </div>
    <div class="col-md-3"></div>
    <br>
    <br>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col">
    <form action="products/new" method="GET">
        <button type="submit" class="btn btn-success btn-lg btn-block">Create New Product</button>
    </form>
    <br>
    <form action="categories/new" method="GET">
        <button type="submit" class="btn btn-warning btn-lg btn-block">Create New Category</button>
    </form>
    </div>
    <div class="col-md-3"></div>
</div>
